<!-- template for loading the material preloader -->
<div id='materialPreloader' class='load-bar'  ng-class="{'hidden':materialPreloader==false,'visible':materialPreloader==true}">

<div style="
    font-size: 32px;
    margin-top: 250px;
    text-align: center;
">Processing...</div>
</div>

<!-- template for loading the material preloader -->
<!-- <div id='materialPreloader' class='load-bar'  ng-class="{'hidden':materialPreloadera==false,'visible':materialPreloadera==true}">

<div style="
    font-size: 32px;
    margin-top: 250px;
    text-align: center;
">Loading...</div>
</div> -->